extends ../../layout/site
block page_content
    #page-content.qh-list(data-qh-view='business-product')
      // content-header
      .content-header
        form.ui.form
          .inline.fields
            .three.wide.field
              label 产品名称
              input(type='text', name='name', placeholder='产品名称')
            .three.wide.field
              label 产品编号
              input(type='text', name='code', placeholder='产品编号')
            include ../../base/table/queryBtn
            include ../../base/table/addBtn
      // content-body
      .content-body
        include ../../base/table/main_table
      .content-footer
