.ui.fluid.selection.dropdown
  i.dropdown.icon
  input(type='hidden', name='state')
  .default.text 状态
  .menu
    .item(data-value='0') 全部
    .item(data-value='100') 在职
    .item(data-value='-100') 离职