.qh-pagination(style='text-align: right;')
  .ui.right.floated.pagination.menu
    a.item
      | 共
      span.qh-allpage 1
      | 页,
      span.qh-allnum 1
      | 条,每页
      span.qh-pagesize 30
      | 条,当前第
      span.qh-nowpage 1
      | 页
    a.icon.item.qh-page_prev(title='上一页') <
    a.icon.item.qh-page_next(title='下一页')
      | >
