.ui.small.coupled.first.modal.qh-note
  .header Header
  .content
    form.ui.form
      .inline.fields
        .eight.wide.field
          label 驳回理由
          input(type='text', name='note', placeholder='驳回理由')
  .actions
    .ui.approve.button 提交
    .ui.cancel.button 取消

