extends ../../layout/site
block page_content
    #page-content.qh-detail(data-qh-view='business-contract',  data-qh-role="detail")
      // content-header
      .content-header
      // content-body
      div.content-body.ui.grid.qh-verify.form
        .sixteen.wide.column.qh-preload.detail-content
          input(type='hidden', name='id', value='{.id}')
          table.ui.celled.table
              thead
                tr
                  th(colspan='4') 商户基本信息
              tbody
                tr
                  td.three.wide
                    | 商户号
                  td.three.wide
                    | {.partner_no}
                  td.three.wide
                    | 商户名称
                  td.three.wide
                    | {.partner_name}
                tr
                  td.three.wide
                    | 签约状态
                  td.three.wide
                    | {.state_name}
                  td.three.wide
                  td.three.wide
           table.ui.celled.table
               thead
                 tr
                   th(colspan='4') 签约产品信息
               tbody
                tr
                  td.three.wide
                    | 产品编号
                  td.three.wide
                    | {.product_info.code}
                  td.three.wide
                    | 产品名称
                  td.three.wide
                    | {.product_info.name}
                tr
                  td.three.wide
                    | 取货模式
                  td.three.wide
                    | {.product_info.pickup_mode_name}
                  td.three.wide
                    | 是否驻店外包
                  td.three.wide
                    | {.product_info.stay_shop_name}
                tr
                  td.three.wide
                    | 配送模式
                  td.three.wide
                    | {.product_info.delivery_mode_name}
                  td.three.wide
                    | 配送时间
                  td.three.wide
                    | {.shipping_time_interval} {.shipping_time_interval_unit}
        .sixteen.wide.column.center.aligned
          .ui.black.button 驳回
          .ui.green.button 通过

    include ../../base/dialog/contract_verify_note

